
/*==========================================================
GÉNÉRIQUE
============================================================*/

HTML{
    box-sizing: border-box;
}

*,*::before,*::after{

    box-sizing: inherit;
}




/*==========================================================
ÉLÉMENT
============================================================*/


body{

    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
    font-size: 18px;
}

a{

    text-decoration: none;
    
}


/*==========================================================
COMPONETS
============================================================*/








/*==========================================================

============================================================*/