
/*==========================================================
GÉNÉRIQUE
============================================================*/

HTML{
    box-sizing: border-box;
}

*,*::before,*::after{

    box-sizing: inherit;
}




/*==========================================================
ÉLÉMENT
============================================================*/


body{

    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
    font-size: 18px;
}

a{

    text-decoration: none;
    color: white;
}

h1{

    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.2em;
    margin: 0;
    text-align: center;
}

h2{

    font-size: 18px;
    font-weight: bold;
    margin: 0;

}

h3{

    font-size: 36px;
    font-weight: normal;
    margin: 10px 0;
}

/*==========================================================
COMPONETS
============================================================*/

/*wrapper*/

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}


/*headre*/

.header{

    background-color: #F26C25;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.header .wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{

    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.menu{

    display: flex;
    gap: 40px;
    list-style-type: none;

}

.menu a:hover{

    text-decoration: underline;
}

/*hero*/

.hero{

    padding: 80px 0;
    background-color: #eee;
}

/*titre-section*/

.titre-section{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 20px;
    margin-bottom: 60px;
}

.transports{

    padding: 80px 0;
}

.conteneur-transports{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;

}

.conteneur-transports h3{

    text-align: center;
}

.conteneur-transports p{

    text-align: center;
    margin-top: 10px;
}

/*footer*/


.menu-social a{

    display: block;
    width: 32px;
    height: 32px;
}
.footer{


}
/*==========================================================

============================================================*/