
/*==========================================================
GÉNÉRIQUE
============================================================*/

HTML{
    box-sizing: border-box;
}

*,*::before,*::after{

    box-sizing: inherit;
}




/*==========================================================
ÉLÉMENT
============================================================*/


body{

    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
    font-size: 18px;
}

a{

    text-decoration: none;
    color: white;
}

h1{

    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.2em;
    margin: 0;
    text-align: center;
}

h2{

    font-size: 18px;
    font-weight: bold;
    margin: 0;
    
}


/*==========================================================
COMPONETS
============================================================*/








/*==========================================================

============================================================*/