
/*==========================================================
GÉNÉRIQUE
============================================================*/

HTML{
    box-sizing: border-box;
}

*,*::before,*::after{

    box-sizing: inherit;
}




/*==========================================================
ÉLÉMENT
============================================================*/


body{

    padding: 0;
    margin: 0;
    font-family: "roboto", sans-serif;
    font-size: 18px;
}

a{

    text-decoration: none;
    color: white;
}

h1{

    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.2em;
    margin: 0;
    text-align: center;
}

h2{

    font-size: 18px;
    font-weight: bold;
    margin: 0;

}

h3{

    font-size: 36px;
    font-weight: normal;
    margin: 10px 0;
}

/*==========================================================
COMPONETS
============================================================*/

/*wrapper*/

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}


/*headre*/

.header{

    background-color: #F26C25;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.header .wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{

    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 36px;
    font-weight: bold;
}
/*==========================================================

============================================================*/